:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --heading-color: #1b0760;
  --body-text-color: #918ca4;
}

/* typography */

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--body-text-color);
  font-size: 1.5rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  margin-bottom: 0.59rem;
}

h1 {
  font-size: 4.375rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.875rem;
}

p {
  margin-top: 0;
}

/* links */

a {
  text-decoration: none;
}

.link-arrow {
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 1.25rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.5s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

/* media query */

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .link-arrow {
    font-size: 0.9375rem;
  }
}
