<figure class="card testimonial">
  <div class="grid grid--cols-2">
    <div class="testimonial__img">
      <img src="Images/testimonial.jpg" alt="a happy smiling customer" />
      <span class="icon icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ut
        ducimus ullam minus nam ipsam aliquid sint! Vel officia voluptatibus
        tempore.
      </p>
      <figcaption>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="quote__organization">Mosh Company CEO</p>
          </div>
        </div>
      </figcaption>
    </blockquote>
  </div>
</figure>
